blinker
certifi
charset-normalizer
click
colorama
dash
dash-core-components
dash-html-components
dash-table
Flask
idna
importlib_metadata
itsdangerous
Jinja2
MarkupSafe
nest-asyncio
packaging
plotly
pandas
requests
retrying
six
tenacity
typing_extensions
urllib3
Werkzeug
zipp
